
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Home</title>
</head>
<body>
    <h1>Foorumi</h1>
  ´<a href="/logout">Logout</a>´
    <h2>Posts</h2>

    <!-- Add Post Form -->
    <h3>Create a New Post</h3>
    <form action="/createPost" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>
        
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="4" cols="50" required></textarea><br><br>
        
        <button type="submit">Post</button>
    </form>

    {{range .Posts}}
        <div>
            <h3><a href="/posts/{{.ID}}">{{.Title}}</a></h3>
            <p>{{.Content}}</p>
        </div>
    {{else}}
        <p>No posts yet. Be the first to post!</p>
    {{end}}
</body>
</html>